.header{
  padding: 0 0 10px 0;
  height: 160px;
  margin-top: 40px;
}
.hi-sign-in{
  color: #66c548;
  margin-right: 33px;

  & a{
    font-size: 15px;
    margin-left: 10px;

    &:hover{
      text-decoration: none;
    }
  }
}
.hi a{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.hi-sign-out{
  color: #66c548;
  margin-right: 33px;

  & a{
    font-size: 15px;
    margin-left: 10px;

    &:hover{
      text-decoration: none;
    }
  }
}